{% extends "layout.html" %}

{% block content %}

<body>
    <div class="container">
        <header>
            <h1>Add New Student</h1>
        </header>

        <div class="add-form">
            <div class="form-group">
                <label for="StudentName">Student Name:</label>
                <input type="text" id="StudentName" name="StudentName" required placeholder="Enter student's full name">
            </div>

            <button onclick="add()">Add</button>
        </div>


    </div>
</body>


<script>


    const add = () => {
        const studentName = document.getElementById('StudentName').value;
        if (studentName) {


            axios.post('http://127.0.0.1:5000/add', {
                name: studentName.trim(),
            })
        }
        else {
            alert("You did not fill all of the fields!")
        }

    }


</script>
{%endblock%}